name: CD Deploy React Portfolio to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            docker pull ${{ secrets.DOCKER_USERNAME }}/react-portfolio:latest

            docker stop react-portfolio || true
            docker rm react-portfolio || true

            docker run -d -p 80:80 --name react-portfolio ${{ secrets.DOCKER_USERNAME }}/react-portfolio:latest
