name: CD Deploy React Portfolio to EC2

on:
  workflow_dispatch:
    inputs:
      image:
        required: true
      tag:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |

            IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ github.event.inputs.image }}:${{ github.event.inputs.tag }}
            CONTAINER=react-portfolio

            echo "Deploying $IMAGE"

            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            docker pull $IMAGE

            if [ "$(docker ps -q -f name=$CONTAINER)" ]; then
              echo "Stopping old container"
              docker stop $CONTAINER
              docker rm $CONTAINER
            fi

            docker run -d -p 80:80 --name $CONTAINER $IMAGE

