name: tech-portfolio

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Docker image version (e.g. v1.0.0)"
        required: true
        default: "v1.0.0"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Version
        run: echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        run: |
          docker buildx build . \
            --platform linux/amd64 \
            --tag ${{ secrets.DOCKER_USERNAME }}/react-portfolio:$VERSION \
            --tag ${{ secrets.DOCKER_USERNAME }}/react-portfolio:latest \
            --push
